In [1]:
import pandas as pd
import numpy as np

In [2]:
column_names = ['Parents','Nursery','Form','Children','Housing','Finance','Social','Health','Class']
data = pd.read_csv('nursery.data', names = column_names, header = None)
data.head()

,Parents,Nursery,Form,Children,Housing,Finance,Social,Health,Class
0,usual,proper,complete,1,convenient,convenient,nonprob,recommended,recommend
1,usual,proper,complete,1,convenient,convenient,nonprob,priority,priority
2,usual,proper,complete,1,convenient,convenient,nonprob,not_recom,not_recom
3,usual,proper,complete,1,convenient,convenient,slightly_prob,recommended,recommend
4,usual,proper,complete,1,convenient,convenient,slightly_prob,priority,priority

In [3]:
for i in range(len(data['Children'])):
    if data['Children'][i] == 'more':
         data['Children'][i] = 4

In [4]:
data['Children'].unique()

array(['1', '2', '3', 4], dtype=object)

In [5]:
data['Children'] = data['Children'].astype(int)

In [6]:
data.dtypes

Parents     object
Nursery     object
Form        object
Children     int32
Housing     object
Finance     object
Social      object
Health      object
Class       object
dtype: object

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
labenc = LabelEncoder()

In [9]:
data.columns

Index(['Parents', 'Nursery', 'Form', 'Children', 'Housing', 'Finance',
       'Social', 'Health', 'Class'],
      dtype='object')

In [10]:
data['Parents'] = labenc.fit_transform(data['Parents'])
data['Nursery'] = labenc.fit_transform(data['Nursery'])
data['Form'] = labenc.fit_transform(data['Form'])
data['Housing'] = labenc.fit_transform(data['Housing'])
data['Finance'] = labenc.fit_transform(data['Finance'])
data['Social'] = labenc.fit_transform(data['Social'])
data['Health'] = labenc.fit_transform(data['Health'])

In [11]:
data.head()

,Parents,Nursery,Form,Children,Housing,Finance,Social,Health,Class
0,2,3,0,1,0,0,0,2,recommend
1,2,3,0,1,0,0,0,1,priority
2,2,3,0,1,0,0,0,0,not_recom
3,2,3,0,1,0,0,2,2,recommend
4,2,3,0,1,0,0,2,1,priority

In [12]:
data.dtypes

Parents      int32
Nursery      int32
Form         int32
Children     int32
Housing      int32
Finance      int32
Social       int32
Health       int32
Class       object
dtype: object

In [13]:
data['Class'].value_counts()

not_recom     4320
priority      4266
spec_prior    4044
very_recom     328
recommend        2
Name: Class, dtype: int64

In [14]:
data['Class'] = data['Class'].map({'not_recom' : 0, 'recommend' : 1, 'very_recom' : 2, 
                                   'priority' : 3, 'spec_prior' : 4})

In [15]:
data.head()

   Parents  Nursery  Form  Children  Housing  Finance  Social  Health  Class
0        2        3     0         1        0        0       0       2      1
1        2        3     0         1        0        0       0       1      3
2        2        3     0         1        0        0       0       0      0
3        2        3     0         1        0        0       2       2      1
4        2        3     0         1        0        0       2       1      3

In [16]:
X = data.drop('Class', axis = 1)
y = data['Class']

In [17]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 1)

In [18]:
from catboost import CatBoostClassifier

In [22]:
cat = CatBoostClassifier(iterations = 25)
cat.fit(X_train,y_train)

Learning rate set to 0.5
0:	learn: 0.6335171	total: 3.83ms	remaining: 92ms
1:	learn: 0.4383655	total: 7.42ms	remaining: 85.3ms
2:	learn: 0.3377105	total: 10.7ms	remaining: 78.6ms
3:	learn: 0.2782126	total: 14.2ms	remaining: 74.6ms
4:	learn: 0.2319368	total: 17.7ms	remaining: 70.8ms
5:	learn: 0.2018599	total: 21.8ms	remaining: 69ms
6:	learn: 0.1799979	total: 26.5ms	remaining: 68.1ms
7:	learn: 0.1620918	total: 30.2ms	remaining: 64.1ms
8:	learn: 0.1511902	total: 33.9ms	remaining: 60.2ms
9:	learn: 0.1420637	total: 38.4ms	remaining: 57.6ms
10:	learn: 0.1293722	total: 42.7ms	remaining: 54.4ms
11:	learn: 0.1223122	total: 46.2ms	remaining: 50ms
12:	learn: 0.1157275	total: 51.5ms	remaining: 47.6ms
13:	learn: 0.1110955	total: 54.8ms	remaining: 43.1ms
14:	learn: 0.1050374	total: 57.7ms	remaining: 38.4ms
15:	learn: 0.0999004	total: 60.4ms	remaining: 34ms
16:	learn: 0.0944015	total: 63.3ms	remaining: 29.8ms
17:	learn: 0.0907114	total: 66.9ms	remaining: 26ms
18:	learn: 0.0832991	total: 69.8ms	remaining: 22ms
19:	learn: 0.0785523	total: 72.5ms	remaining: 18.1ms
20:	learn: 0.0737085	total: 75.3ms	remaining: 14.3ms
21:	learn: 0.0697420	total: 78.1ms	remaining: 10.6ms
22:	learn: 0.0669475	total: 81ms	remaining: 7.04ms
23:	learn: 0.0646969	total: 84.2ms	remaining: 3.51ms
24:	learn: 0.0615277	total: 87.2ms	remaining: 0us

In [23]:
print('Cat model score: {}% '.format(cat.score(X_test,y_test) * 100))

Cat model score: 99.01234567901234%

In [21]:
data.to_csv('Final Data')